<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emergencyserviceline">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Emergency Serviceline"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Emergencyserviceline">
        <activity
            android:name=".AdminPanelActivity"
            android:exported="false" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="false" /> <!-- Splash -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Login -->
        <activity android:name=".LoginActivity" /> <!-- Signup -->
        <activity android:name=".SignupActivity" /> <!-- Home -->
        <activity android:name=".HomeActivity" /> <!-- Profile -->
        <activity android:name=".ProfileActivity" /> <!-- State List -->
        <activity android:name=".StateListActivity" /> <!-- State Emergency -->
        <activity android:name=".StateEmergencyActivity" /> <!-- Optional -->
        <activity android:name=".MainActivity" />
    </application>

</manifest>